//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//normalize
@import "_misc/normalize.scss";

// setups
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/layout";

// components
@import "./blocks/section.scss";
@import "./blocks/header.scss";
@import "./blocks/menu.scss";
@import "./blocks/hero.scss";
@import "./blocks/btn.scss";
@import "./blocks/scroll-down.scss";
@import "./blocks/features.scss";
@import "./blocks/feature.scss";
@import "./blocks/reviews.scss";
@import "./blocks/review.scss";
@import "./blocks/order.scss";
