//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

$z-fixed-menu: 100;

//normalize
@import "_misc/normalize.scss";

// setups
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/layout";


@import "blocks/section.scss";
@import "blocks/hero.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/btn.scss";
@import "blocks/title.scss";
@import "blocks/scroll-down-btn.scss";
@import "blocks/best.scss";
@import "blocks/reviews.scss";
@import "blocks/order.scss";
@import "blocks/form.scss";
@import "blocks/fixed-menu.scss";