//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//normalize
@import "_misc/normalize.scss";

// setups
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/layout";


//common
@import "blocks/common/btn.scss";

// blocks
@import "blocks/hero.scss";
@import "blocks/best.scss";
@import "blocks/team.scss";
@import "blocks/reviews.scss";
@import "blocks/order.scss";