.best {
  background: url("../../img/bg/best.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  background-position: center center;
  .section__title {
    margin-bottom: rem(80px);
    @include tablets {
      margin-bottom: rem(40px);
    }
  }
}

.best__icon-pic {
  width: 90%;
  height: rem(100px);
  svg {
    max-width: 95%;
  }
  @include phones {
    position: static;
    transform: none;
  }
}

.best__list {
  display: flex;
  @include phones() {
    flex-direction: column;
  }
}

.best__item {
  margin-bottom: rem(50px);
  padding: 0 rem(15px);
  display: flex;
  flex-direction: column;
  @include phones {
    flex-direction: row;
    width: 100%;
    margin-bottom: rem(25px);
  }
}

.best__icon {
  @include phones {
    margin-right: rem(20px);
    width: 30%;
  }
}

.best__desc {
  @include phones {
    text-align: left;
    display: block;
    width: 65%;
  }
}

.best__title {
  font-size: rem(24px);
  @include lifehack;
  color: $black;
  margin-bottom: rem(20px);
}