.btn {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #e45028;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
}