.btn {
	@include inlineblock();
	background: $orange;
	font-size: rem(13px);
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: rem(5px);
	padding: rem(9px) rem(16px);
	@include ubuntu(medium);
}
