
.burger-weight {
	position: absolute;
	bottom: 0px;
	left: 0;
	opacity: .5;

	@include tablets {
		top: 0;
		right: 0;
		bottom: auto;
		left: auto;
	}
}

.burger-weight__measure {
	background: url('../../img/icons/kkal.svg') 50% no-repeat;
	width: 65px;
	height: 60px;
	position: relative;
  background-size: contain;
}

.burger-weight__amount {
	position: absolute;
	bottom: 8px;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
	font-size: 20px;
	@include gagalin;
}

.burger-weight__title {
	text-align: center;
	font-size: 14px;
	color: #fff;
	@include gagalin;
}