.form__elem {
  display: flex;
}

.form__column {
  flex: 1;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
}

.form__block {
  flex: 1;
  margin-right: 20px;
  display: block;

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  background: #fff;
  border-radius: 3px;
  border: none;
  padding: 8px 21px;
  width: 100%;

  &--textarea {
    resize: none;
    height: 110px;
  }
}
