.hamburger-menu-link {
	vertical-align: middle;
	position: relative;
	height: 22px;
	align-items: center;
	margin-left: 30px;
	display: none;

	@include tablets {
		display: inline-flex;
	}
}

.hamburger-menu-link__bars {
	&, &:before, &:after {
		background: #fff;
		width: 24px;
		height: 5px;
		border-radius: 3px;
	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}