.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__order-btn {
  margin-left: 15px;
}