.nav {
  margin-right: 15px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  display: flex;
  align-items: center;
  margin-right: 15px;

  &:after {
    content: "";
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    display: block;
    margin-left: 15px;
  }


  &:last-child {
    margin-right: 0;
    &:after {
      display: none;
    }
  }
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
}