.order-section {
  background: url("../img/bg/order.jpg") center center / cover no-repeat;
}

.order__row {
  margin-bottom: 14px;
  display: flex;
}

.order__block {
  flex: 1;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.order__title {
  margin-bottom: 5px;
}

.order__input {
  width: 100%;
  padding: 8px 21px;
  border: none;
  border-radius: 4px;
}