.popup {
	display: none;
}

.full-review {
	padding: 25px 20px;
	position: relative;
}

.full-review__title {
	@include gagalin;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.full-review__content {
	font-size: 14px;
	@include ubuntu();
}

.full-review__close {
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	right: 20px;
	top: 20px;
	opacity: .7;
	transition: .3s;

	&:hover {
		opacity: 1;
	}

	svg {
		width: 100%;
		height: 100%;
	}
}

.status-popup__inner {
	padding: 20px;
	text-align: center;
}

.status-popup__message {
	margin-bottom: 20px;
	font-size: 14px;
}

.status-popup {
	width: 240px;
}

.error-message {
	color: $red;
}


