.popup {
	display: none;
}

.full-review {
	padding: rem(25px) rem(20px);
	position: relative;
}

.full-review__title {
	@include gagalin;
	font-size: rem(14px);
	text-transform: uppercase;
	margin-bottom: rem(25px);
}

.full-review__content {
	font-size: rem(14px);
	@include ubuntu();
}

.full-review__close {
	width: rem(15px);
	height: rem(15px);
	display: block;
	position: absolute;
	right: rem(20px);
	top: rem(20px);
	opacity: .7;
	transition: .3s;

	&:hover {
		opacity: 1;
	}

	svg {
		width: 100%;
		height: 100%;
	}
}

.status-popup__inner {
	padding: rem(20px);
	text-align: center;
}

.status-popup__message {
	margin-bottom: rem(20px);
	font-size: rem(14px);
}

.status-popup {
	width: rem(240px);
}

.error-message {
	color: $red;
}


