.review {
  position: relative;
  color: #fff;
  filter: grayscale(100%);

  &:hover {
    .review__hover {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.review__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rewiew__pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0;
  opacity: 0;
  transform: scale(.8);
  transition: .3s;
}