.reviews__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;
  background: center center / cover no-repeat;
  position: relative;
  filter: grayscale(100%);

  &:hover {
   .reviews__hover {
     opacity: 1;
   } 
  }
}

.reviews__hover {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0;
  background: rgba(#444646, .5);  
  padding: 50px 19px 19px;
  opacity: 0;
  transition: opacity .3s;
}

.reviews__pic {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

