.review {
  position: relative;
  filter: grayscale(100%);

  &:hover {
    .review__hover {
      opacity: 1;
    }
  }
}

.review__avatar {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.review__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, .8);
  padding: 45px 5% 10px;
  color: #fff;
  opacity: 0;
  transition: opacity .3s;
}

