.section {
	// height: 100%;
	height: 100vh;
	min-height: 650px;
	position: relative;
  display: flex;
  overflow: hidden;
  
	@include tablets {
		min-height: initial;
    // height: 100vh;
	}
}

.section__title {
	color: $yellow;
	font-size: 72px;
	@include gagalin;
	margin-bottom: 12px;

	&.section__title_black {
		color: $black;
	}

	&.section__title_white {
		color: white;
	}
}