.section-title {
  font-size: 72px;
  @include gagalin();
  margin-bottom: 45px;
  line-height: 1;
  color: $yellow;

  &--color-black {
    color: #000;
  }

  &--centered {
    text-align: center;
  }
}

