html {
  @include laptop {
    font-size: rem(15px);
  }
  @include phones {
    font-size: rem(13px);
  }
}

html,
body {
  height: 100%;
}

body {
  font-size: rem(16px);
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  position: relative;
  @include ubuntu();
  color: $black;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: rem(940px);
  width: 95%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  position: relative;
  width: 100%;
  // min-width: rem(940px) + rem(20px);
  min-height: 100%;
  overflow: hidden;
}


// tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

// .section {
//   // min-height: rem(650px);
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }
