html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  @include ubuntu();
  color: $black;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 940px;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 940px + 20px;
  min-height: 100%;
  overflow: hidden;
}


// tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.section {
  height: 100vh;
  min-height: 650px;

  &_centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.section-title {
  font-size: 72px;
  @include gagalin();
  color: $yellow;
  margin-bottom: 40px;

  &_color {
    &_black {
      color: $black;
    }

  }

  &_position {
    &_center {
      text-align: center;
    }
  }
}